
#home {
	background: #ffc107;
	color: white;
}

.caixa{
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

footer p a {
	margin: 5px 15px;
}

.iconBlue{
	color: #436888;
	margin-left: 3px;
}

.git{
	color:rgb(14, 13, 13);
	margin-left: 3px;
}

.gitLight{
	color: rgb(255, 255, 255);
	margin-left: 3px;
}

.dark{
	color:rgb(5, 5, 5);
	margin-left: 2px;
}

.modoDark{
	background: rgb(56, 56, 56);
	color: #fff;
}

.sol{
	color: #fff;
	font-size: 20px;
	margin-left: 2px;
}